@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="/assets/images/favicon.png" rel="icon" type="image/png">

    <!-- Basic Page Needs
        ================================================== -->
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Instello - Sharing Photos platform HTML Template">

    <!-- icons
        ================================================== -->
    <link rel="stylesheet" href="/assets/css/icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS
        ================================================== -->
    <link rel="stylesheet" href="/assets/css/uikit.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <link rel="stylesheet" href="/assets/css/chat.css">
    <link rel="stylesheet" href="/assets/css/lxq_add.css">
    <link rel="stylesheet" href="/assets/css/weather.css">
    @*Quynh lam*@
    <style>
        #upload-custom-btn {
            margin: 10px 0;
        }

        .upload-wrapper:hover {
            cursor: pointer;
        }

        @@media (min-width: 1024px) {
            header .header_inner {
                max-width: 980px;
            }

            .pro-container {
                max-width: 860px;
            }
        }

        .liked {
            color: #c23564;
        }

        .word-wrap {
            width: 200px;
            word-wrap: break-word;
        }
        /* make scroll */
        .scrollbar {
            height: 160px;
            overflow-y: scroll;
        }
        /* css cute scrollbar */
        .scroll-style-1::-webkit-scrollbar {
            width: 6px;
            background-color: #F5F5F5;
        }

        .scroll-style-1::-webkit-scrollbar-thumb {
            background-color: #ec4899;
        }

        .scroll-style-1::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px #f3f4f6;
            background-color: #F5F5F5;
        }
    </style>


    <script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css"
          rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
    <link rel="stylesheet"
          href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css"
          type="text/css" />
</head>

<body>
    <div class="notification-copy-successful">Copy link post successfully !</div>

    <div id="wrapper">

        @await Html.PartialAsync("_PartialSidebar")

        <div class="main_content">

            <header>
                @await Html.PartialAsync("_PartialHeader")
            </header>

            @RenderBody()
        </div>

    </div>


    <!-- Chi tiết 1 bài đăng (like, comment here) -->
    <!-- Story modal -->
    <!-- Upload modal -->
    <form id="upload-modal" class="uk-modal-container" uk-modal enctype="multipart/form-data">
        <button class="uk-modal-close-default btn-close-upload" type="button" uk-close></button>
        <div class="uk-modal-dialog story-modal">
            <div class="grid-cols-12 header-upload">
                <div class="header-modal-share">
                </div>

                <div class="header-modal-title">
                    <h1 class="header-modal-title-text">Create new post</h1>
                </div>

                <div class="header-modal-share">
                    <a href="#" onclick="createPost()" class="header-modal-btn">Share</a>
                </div>
            </div>
            <div class="story-modal-media upload-modal-media">
                <div class="upload-wrapper" onclick="document.getElementById('upload-default-btn').click()">
                    <img src="" class="upload-image inset-0 h-full w-full" alt="">
                    <div class="upload-content">
                        <div class="upload-icon">
                            <div class="fas fa-cloud-upload-alt"></div>
                        </div>
                        <div class="upload-text">No file chosen, yet!</div>
                    </div>
                    <div id="upload-cancel-btn"><i class="fas fa-times"></i></div>
                    <div class="upload-file-name">File name here</div>
                </div>
                <input placeholder="safdads" id="upload-default-btn" type="file" multiple hidden name="images" />
                <button id="upload-custom-btn" onclick="defaultBtnActive()">Choose a file</button>
            </div>
            <div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-100 upload-note-item">
                <div class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
                    <div class="flex flex-1 items-center space-x-4">
                        <a href="#">
                            <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                                <img src="@CurrentAccount.account.Avatar"
                                     class="bg-gray-200 border border-white rounded-full w-8 h-8">
                            </div>
                        </a>
                        <span class="block text-lg font-semibold"> @CurrentAccount.account.DisplayName </span>
                        <i style="color:red;cursor:pointer" class="position-icon fa-solid fa-location-dot"></i>
                    </div>
                    <a href="#">
                        <i class="icon-feather-more-horizontal text-2xl rounded-full p-2 transition -mr-1"></i>
                    </a>
                </div>
                <div class="">
                    <span style="padding-left:20px;padding-right:20px" class="create-name-place block text-lg font-semibold"></span>
                </div>

                <div class="story-content p-4" data-simplebar>
                    <textarea name="Content" id="content-create" cols="12" rows="20" placeholder="Write your comments..." class="txt-comments"></textarea>
                </div>
            </div>
            <div class="map-box-content d-none" style="top:50%;left:50%;position:absolute;width:80%;height:80%;z-index:1000000;transform:translate(-50%,-50%)">
            		<div id="map" style="width: 100%; height: 100%"></div>
            </div>

            
            <div class="layer-map-box d-none" style="width:100vw;height:100vh;top:0;left:-28%;position:absolute;background-color:#666666;opacity:0.6;z-index:999999;">
            
            </div>

        
        </div>


        
    </form>

    <form id="update-modal" class="uk-modal-container" uk-modal enctype="multipart/form-data">
        <button class="uk-modal-close-default btn-close-upload" type="button" uk-close></button>
        <div class="uk-modal-dialog story-modal">
            <div class="grid-cols-12 header-upload">
                <div class="header-modal-share">
                </div>

                <div class="header-modal-title">
                    <h1 class="header-modal-title-text">Update Post</h1>
                </div>

                <div class="header-modal-share">
                    <button class="header-modal-btn btn-update-post" type="submit">Share</button>
                </div>
            </div>
            <div class="story-modal-media upload-modal-media">
                <div class="update-image grid grid-cols-2 gap-2 p-2" >
                    @*innerHtml*@
                    <a href="" class="col-span-2" uk-toggle>
                        <img style="height:358px;width:662px" src="/images/avatars/1/84580651.jpg" alt="" class="rounded-md w-full object-cover">
                    </a>
                    <a href="" uk-toggle>
                        <img src="/images/avatars/1/84580651.jpg" alt="" class="rounded-md w-full object-cover">
                    </a>
                    <div style="position:relative">
                        <a href="" uk-toggle>
                            <img src="/images/avatars/1/84580651.jpg" alt="" class="rounded-md w-full object-cover">
                        </a>
                        <div class="absolute bg-gray-900 bg-opacity-30 flex justify-center items-center text-white rounded-md inset-0 text-2xl"> + 2 more </div>
                    </div>
                </div>
                
            </div>
            <div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-100 upload-note-item">
                <div class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
                    <div class="flex flex-1 items-center space-x-4">
                        <a href="#">
                            <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                                <img src="@CurrentAccount.account.Avatar"
                                     class="bg-gray-200 border border-white rounded-full w-8 h-8">
                            </div>
                        </a>
                        <span class="block text-lg font-semibold"> @CurrentAccount.account.DisplayName </span>
                    </div>
                    <a href="#">
                        <i class="icon-feather-more-horizontal text-2xl rounded-full p-2 transition -mr-1"></i>
                    </a>
                </div>

                <div class="story-content p-4" data-simplebar>
                    <textarea name="Content" id="content-update" cols="12" rows="20" placeholder="Write your comments..." class="txt-comments"></textarea>
                </div>
            </div>
        </div>
    </form>

    <form id="map-modal" class="layer-map uk-modal-container" uk-modal enctype="multipart/form-data">
        <button class="uk-modal-close-default btn-close-upload" type="button" uk-close></button>
        <div class="uk-modal-dialog story-modal" style="flex-direction:column">
            <div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-100 upload-note-item">
                <div class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
                    <div class="flex flex-1 items-center space-x-4">
                        <a href="#">
                            <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                                <img src="@CurrentAccount.account.Avatar"
                                     class="bg-gray-200 border border-white rounded-full w-8 h-8">
                            </div>
                        </a>
                        <span class="block text-lg font-semibold"> @CurrentAccount.account.DisplayName </span>
                    </div>
                    <a href="#">
                        <i class="icon-feather-more-horizontal text-2xl rounded-full p-2 transition -mr-1"></i>
                    </a>
                </div>

            </div>
            <div class="story-modal-media upload-modal-media" style="margin:0;position:relative;flex-grow: 30;max-width: 1000px;">
                <div class="grid grid-cols-2 gap-2 p-2">
                    <div id="map-share" style="top:0;left:0;width: 100%; height: 100%;position:absolute"></div>
                </div>
            </div>

        </div>
    </form>

    <script>
        const wrapper = document.querySelector('.upload-wrapper')
        const fileName = document.querySelector('.upload-file-name')
        const defaultBtn = document.querySelector('#upload-default-btn')
        const shareBtn = document.querySelector('#post-share-btn')
        const cancelBtn = document.querySelector('#upload-cancel-btn')
        const customBtn = document.querySelector('#upload-custom-btn')
        const img = document.querySelector('.upload-image')

        function defaultBtnActive() {
            defaultBtn.click()
        }

        defaultBtn.addEventListener('change', function () {
            const file = this.files[0]
            console.log(this.files)
            if (file) {
                const reader = new FileReader();
                reader.onload = function () {
                    const result = reader.result
                    img.src = result
                    wrapper.classList.add("active")
                }
                cancelBtn.addEventListener("click", function () {
                    img.src = ""
                })
                reader.readAsDataURL(file)
            }
            if (this.value) {
                let valueStore = this.value;
                fileName.textContent = valueStore;
            }
        })

            //Dark mode
            (function (window, document, undefined) {
                'use strict';
                if (!('localStorage' in window)) return;
                var nightMode = localStorage.getItem('gmtNightMode');
                if (nightMode) {
                    document.documentElement.className += ' dark';
                }
            })(window, document);


        (function (window, document, undefined) {

            'use strict';

            // Feature test
            if (!('localStorage' in window)) return;

            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;

            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('dark');
                if (document.documentElement.classList.contains('dark')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);

        })(window, document);
    </script>

    <!-- Upload modal -->
    <!-- Scripts
       ================================================== -->
    <script src="/assets/js/tippy.all.min.js"></script>
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/uikit.js"></script>
    <script src="/assets/js/simplebar.js"></script>
    <script src="/assets/js/custom.js"></script>

    @*Quynh them*@
    <!-- Jquery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/bda3bb47f4.js" crossorigin="anonymous"></script>


    <script>
        // Slide show (fix)
        let indexValue = 0;
        function slideShow(postId) {
            indexValue = 0;
            showImg(postId, indexValue);
        }
        // Slide show (fix)

        function btm_slide(postId, e) { showImg(postId, indexValue = e); }
        function side_slide(postId, e) { showImg(postId, indexValue += e); }
        function showImg(postId, e) {
            var i;
            const img = document.querySelectorAll('#story-modal-' + postId + ' .story-img');
            const sliders = document.querySelectorAll('#story-modal-' + postId + ' .btn-sliders span')
            if (e == img.length) {
                indexValue = 0;
            }
            if (e < 0) {
                indexValue = img.length - 1;
            }
            for (i = 0; i < img.length; i++) {
                img[i].style.display = "none";
                if (img[i].tagName.toLowerCase() === 'video') {
                    img[i].pause();
                }
            }

            for (i = 0; i < sliders.length; i++) {
                sliders[i].style.background = "rgba(225, 225, 225, 0.2)";
            }

            img[indexValue].style.display = "block";
            sliders[indexValue].style.background = "#fff";
        }

        // Fix sidebar
        function toggle() {
            var sidebar = document.querySelector('.sidebar');
            if (sidebar.style.display === "block") {
                sidebar.style.display = "none";
            }
        }

        // Xử lí thêm class active vào thẻ li phần sidebar
        $(document).ready(function () {
            var pageTitle = $('title').text();
            switch (true) {
                case pageTitle.includes("Home Page"):
                    $(".sidebar ul li:eq(0)").addClass("active");
                    break;
                case pageTitle.includes("Search"):
                    $(".sidebar ul li:eq(1)").addClass("active");
                    break;
                case pageTitle.includes("Messages Page"):
                    $(".sidebar ul li:eq(2)").addClass("active");
                    break;
                case pageTitle.includes("Setting Page"):
                    $(".sidebar ul li:eq(3)").addClass("active");
                    break;
                case pageTitle.includes("Profile Page"):
                    $(".sidebar ul li:eq(4)").addClass("active");
                    break;
            }
        });

        function copyToClipboard(text) {
            const input = document.createElement('input');
            input.setAttribute('type', 'text');
            input.setAttribute('value', text);

            document.body.appendChild(input);

            input.select();

            document.execCommand('copy');

            document.body.removeChild(input);

            const notification = document.querySelector('.notification-copy-successful');
            notification.style.display = 'block';

            setTimeout(() => {
                notification.style.display = 'none';
            }, 3000);
        }

    </script>


    @*  Xử lí like và comment*@
    <script>
        function handleLikePost(postId) {
            var str = '.handleLike_' + postId
            var strCount = '.handleLikeCount_' + postId
            var likeCount = +(document.querySelectorAll(strCount).item(0).innerHTML.split(" ")[0])
            console.log(document.querySelectorAll(strCount).item(0))
            console.log(likeCount)
            console.log("call handle like function")
            $.ajax({
                url: 'https://localhost:7150/api/ActionAPI?postId=' + postId,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    var likeElement = $(str)
                    if (data == false) {
                        likeElement.removeClass("liked")
                        if (likeCount > 0) {
                            likeCount -= 1;
                            document.querySelectorAll(strCount).forEach(function (item) {
                                item.innerHTML = likeCount + ' persons'
                            })
                            // $(strCount).html = likeCount + ' persons'
                        }
                    } else {
                        if (!likeElement.hasClass("liked")) {
                            likeElement.addClass("liked")
                            likeCount += 1;
                            document.querySelectorAll(strCount).forEach(function (item) {
                                item.innerHTML = likeCount + ' persons'
                            })
                        }
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        }

        function handleComment(event, postId) {
            console.log(event.target)
            event.preventDefault()

            var commentArea = document.querySelector('.comment-area-' + postId)
            var commentAreaModel = document.querySelector('.comment-area-model-' + postId)
            console.log(commentAreaModel)
            var content = event.target.querySelector('input').value;
            var comment = {
                "PostId": postId,
                "Content": content
            }
            event.target.querySelector('input').value = "";
            $.ajax({
                url: 'https://localhost:7150/api/ActionAPI/addComment',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(comment),
                success: function (data) {
                    console.log("thanhcong", data)
                    // Them comment vao post model
                    var commentModel = document.createElement('div')
                    commentModel.classList.add("flex")
                    commentModel.classList.add("flex-1")
                    commentModel.classList.add("items-center")
                    commentModel.classList.add("space-x-2")
                    commentModel.classList.add("space-y-5")
                    commentModel.setAttribute("commentModalBlock", data.commentId);

                    commentModel.innerHTML = `
                                    <img src="${data.accountImg}" class="rounded-full w-8 h-8">
                                    <div class="p-3" style="background-color:#f3f4f6; border-radius:10px">
                                        <span class="block capitalize font-semibold dark:text-gray-100">${data.accountName}</span>
                                        <div class="updated" idCommentModal="${data.commentId}">
                                            <p class="flex-1 p-2 word-wrap" style="width: 150px">
                                                ${data.content}
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                                        <a onclick="deleteComment(${data.commentId})"  style="padding:15px;height:0;" class="flex items-center text-red-500 hover:bg-red-100 hover:text-red-500 dark:hover:bg-red-600 rounded-md" href="#">
                                            <i style="padding-right: 5px;" class="fa-solid fa-trash-can"></i>
                                        </a>
                                        <a onclick="updateComment(${data.commentId},'idCommentModal')" style="padding:15px;height:0;" class="flex items-center hover:bg-blue-100 hover:text-blue-500 rounded-md ">
                                            <i style="padding-right: 5px;" class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                    </div>`

                    commentAreaModel.appendChild(commentModel)
                    console.log(commentAreaModel)


                    var comment = document.createElement('div')
                    // Them comment vao post
                    comment.classList.add("flex")
                    comment.setAttribute("commentDetailBlock", data.commentId);
                    comment.innerHTML = `
                                        <div class="w-10 h-10 rounded-full relative flex-shrink-0">
                                              <img src="${data.accountImg}" alt="" class="absolute h-full rounded-full w-full">
                                        </div>
                                        <div class="text-gray-700 py-2 px-3 rounded-md bg-gray-100 h-full relative lg:ml-5 ml-2 mr-2 dark:bg-gray-800 dark:text-gray-100">
                                            <span class="block capitalize font-semibold dark:text-gray-100">${data.accountName}</span>
                                            <div class="wrap-content-comment updated" idCommentDetail="${data.commentId}">
                                                <p class="flex-1 p-2 word-wrap" style="width: 150px">
                                                    ${data.content}
                                                </p>
                                            </div>
                                            <div class="absolute w-3 h-3 top-3 -left-1 bg-gray-100 transform rotate-45 dark:bg-gray-800"></div>
                                        </div>
                                        <div>
                                            <a onclick="deleteComment(${data.commentId})" style="padding:15px;height:0;" class="flex items-center text-red-500 hover:bg-red-100 hover:text-red-500 dark:hover:bg-red-600 rounded-md" href="#">
                                                <i style="padding-right: 5px;" class="fa-solid fa-trash-can"></i>
                                            </a>
                                            <a  onclick="updateComment(${data.commentId},'idCommentDetail')" style="padding:15px;height:0;" class="flex items-center hover:bg-blue-100 hover:text-blue-500 rounded-md ">
                                                <i style="padding-right: 5px;" class="fa-regular fa-pen-to-square"></i>
                                            </a>
                                        </div>`
                    commentArea?.appendChild(comment)


                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });


        }
    </script>

    @*Chuyển trạng thái thông báo thành đã đọc*@
    <script>
        function readNoti(notiId) {
            $.ajax({
                url: `https://localhost:7150/api/actionapi/update_isRead?notiId=${notiId}`,
                type: 'PUT',
                contentType: 'application/json',
                success: function (data) {
                    // khong lam gi =))
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("Error");
                }
            });
        }
    </script>

    @RenderSection("ScriptProfile", required: false)
    @RenderSection("ScriptChatSession", required: false)
    @RenderSection("ScriptWeather", required: false)
    @RenderSection("ScriptWeatherIndex", required: false)
    <script>
        function updateComment(idComment, atribute) {
            const blockContent = $(`[${atribute}=${idComment}]`);
            let elemP;
            let elemAreaText;
            $(`[${atribute}=${idComment}]`).toggleClass("updated");

           
            if (blockContent.hasClass("updated")) {
                const valueInputChange = blockContent.find('textarea').val().trim();
                // Ở đây phải cập nhật cả thằng ở bên ngoài và bên trong bằng ajax bằng cái hàm nào đó mà cm đã cập nhật
                // được comment cả detail và modal ấy ??? handleComment()
                // thông qua cách kiểm tra atribute neu attribute = idCommentDetail || idCommentModal
                $.ajax({
                    type: 'PUT',
                    url: `https://localhost:7150/api/actionapi/editComment?commentId=${idComment}&newcontent=${valueInputChange}`,
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        console.log(data)
                    },
                    error: function (err) {
                        console.log(err)
                    },

                })

                elemP = `<p class="flex-1 p-2 word-wrap" style="width: 150px">${valueInputChange}</p>`
                blockContent.html(elemP)

                if (atribute == "idCommentDetail") {
                    var blockContentModal = $(`[idCommentModal=${idComment}]`)
                    blockContentModal.html(elemP)
                } else {
                    var blockContentDetail = $(`[idCommentDetail=${idComment}]`)
                    blockContentDetail.html(elemP)
                }
                
            } else {
                elemAreaText = `<textarea class="leading-6 word-wrap" style = "border:transparent;outline:none;box-shadow:none;resize: none;height:10px;width: 150px">${blockContent.find('p').text().trim()}</textarea>`
                blockContent.html(elemAreaText);
            }
        }
    
        function deleteComment(idComment) {
            

            $.ajax({
                type: 'DELETE',
                url: `https://localhost:7150/api/ActionAPI/deleteComment?commentId=${idComment}`,
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    const commentDetailBlock = $(`[commentDetailBlock=${idComment}]`);
                    const commentModalBlock = $(`[commentModalBlock=${idComment}]`);
                    console.log(data)
                    commentDetailBlock.remove();
                    commentModalBlock.remove();
                },
                error: function (err) {
                    console.log(err)
                },

            })
            

        }
    </script>
     
    <script>
        var myLng = null,myLat = null;

        mapboxgl.accessToken =
            "pk.eyJ1IjoibHhxMjMwOSIsImEiOiJjbGZ2dGJoMXcwYWNrM2dubDVlZmlvaWU5In0.9iYxJy_FOPbJCi60CdZgLg";
         
        $(".position-icon").on("click",function(e){
            if ($(".layer-map-box").hasClass("d-none") && $(".map-box-content").hasClass("d-none")){
                $(".layer-map-box").removeClass("d-none");
                $(".map-box-content").removeClass("d-none");

                console.log("1")
                const map = new mapboxgl.Map({
                    container: "map",
                    style: "mapbox://styles/mapbox/streets-v12",
                    center: [105.834161, 21.0277763],
                    zoom: 18,
                });
                const marker = new mapboxgl.Marker({
                    color: "red",
                    draggable: false,
                    anchor: "top",
                    bounds: true,
                })
                // lấy ra vị trí mà người dùng chọn
                map.on("click", (e) => {
                    marker.setLngLat([e.lngLat.lng, e.lngLat.lat]);
                    marker.addTo(map);
                    myLng = e.lngLat.lng;
                    myLat = e.lngLat.lat;
                    checkInMap(e.lngLat.lng, e.lngLat.lat);
                });


                const nav = new mapboxgl.NavigationControl({
				    visualizePitch: true,
			    });
	        	const geolocate = new mapboxgl.GeolocateControl({
				positionOptions: {
					enableHighAccuracy: true,
				},
				    trackUserLocation: true,
				    showUserHeading: true,
			    });
			    map.addControl(nav, "top-right");
			    map.addControl(geolocate, "top-right");

                
            // lấy ra vị trí hiện tại đang đứng
                geolocate.once("geolocate", geolocateCreate);

                $(".layer-map-box").on("click",function(e){
                    $(".layer-map-box").addClass("d-none");
                    $(".map-box-content").addClass("d-none");
                    console.log("2", map)

                     geolocate.off("geolocate",geolocateCreate);
                     map.remove();
                     $(".layer-map-box").off("click");

                })
            }
        })
        
        

        // hàm để checkin
        function checkInMap(lng, lat) {
            const url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${lng},${lat}.json?limit=1&access_token=${mapboxgl.accessToken}`;
            fetch(url)
                .then((response) => response.json())
                .then((data) => {
                    var address = data.features[0].place_name;
                    $(".create-name-place").text(address)
                    
                });
        }

        // hàm lắng nghe vị trí của mình
        function geolocateCreate(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            console.log("lat, lng", latitude, longitude);

            myLng = longitude;
            myLat = latitude;
            checkInMap(longitude, latitude);
        }

    </script>


    <script>
        function deletePost(idPost) {
            const elem = document.querySelector(`[idPost="${idPost}"]`)
            $.ajax({
                type: 'DELETE',
                url: `https://localhost:7150/Home/DeletePost?postId=${idPost}`,
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    console.log(data)
                    if (data == true) {
                        elem.remove();
                    }
                },
                error: function (err) {
                    console.log(err)
                },

            })
        }

        function showEditModel(id) {
            $.ajax({
                type: 'GET',
                url: `https://localhost:7150/Home/GetPostById?postId=${id}`,
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    console.log(data)
                    $(".update-image").html("")
                    $("#content-update").val(data.singlePostDetail.post.content)
                    if (data.lstMedial[0].mediaType == 'video'){
                        $(".update-image").html(`<video style="width:662px" src="${data.lstMedial[0].mediaLink}" muted="" controls="" allowfullscreen="" uk-responsive="" class="col-span-2"></video>`)
                    }else{

                        if (data.lstMedial.length == 0) {
                            $(".update-image").html(`<div class="upload-wrapper" onclick="document.getElementById('upload-default-btn').click()">
                                    <img src="" class="upload-image inset-0 h-full w-full" alt="">
                                    <div class="upload-content">
                                        <div class="upload-icon">
                                            <div class="fas fa-cloud-upload-alt"></div>
                                        </div>
                                        <div class="upload-text">No file chosen, yet!</div>
                                    </div>
                                    <div id="upload-cancel-btn"><i class="fas fa-times"></i></div>
                                    <div class="upload-file-name">File name here</div>
                                </div>`)
                        }
                        if (data.lstMedial.length == 1) {
                            $(".update-image").html(`
                                                                                    <a class="col-span-2" href="#story-modal-${data.lstMedial[0].postId}" onclick="slideShow(${data.lstMedial[0].postId})" uk-toggle>
                                                       <img src="${data.lstMedial[0].mediaLink}" alt="" class="rounded-md w-full object-cover">
                                             </a>`)
                        }
                        if (data.lstMedial.length == 2) {
                            $(".update-image").html(`
                                                                    <a href="#story-modal-${data.lstMedial[0].postId}" onclick="slideShow(${data.lstMedial[0].postId})" uk-toggle>
                                                        <img style="height:358px" src="${data.lstMedial[0].mediaLink}" alt="" class="rounded-md w-full object-cover">
                                             </a>
                                                            <a href="#story-modal-${data.lstMedial[1].postId}" onclick="slideShow(${data.lstMedial[1].postId})" uk-toggle>
                                                               <img style="height:358px" src="${data.lstMedial[1].mediaLink}" alt="" class="rounded-md w-full object-cover">
                                             </a>`)
                        }
                        if (data.lstMedial.length > 3) {
                            $(".update-image").html(`
                                                    <a href="#story-modal-${data.lstMedial[0].postId}" onclick="slideShow(${data.lstMedial[0].postId})" class="col-span-2" uk-toggle>
                                                <img style="height:358px" src="${data.lstMedial[0].mediaLink}" alt="" class="rounded-md w-full object-cover">
                                     </a>
                                            <a href="#story-modal-${data.lstMedial[1].postId}" onclick="slideShow(${data.lstMedial[1].postId})" uk-toggle>
                                               <img src="${data.lstMedial[1].mediaLink}" alt="" class="rounded-md w-full object-cover">
                                     </a>
                                    <div style="position:relative">
                                        <a href="#story-modal-${data.lstMedial[2].postId}" onclick="slideShow(${data.lstMedial[2].postId})" uk-toggle>
                                                    <img src="${data.lstMedial[2].mediaLink}" alt="" class="rounded-md w-full object-cover">
                                        </a>
                                        <div class="absolute bg-gray-900 bg-opacity-30 flex justify-center items-center text-white rounded-md inset-0 text-2xl"> + 2 more </div>
                                     </div>`)
                        }

                    }
                    $(".btn-update-post").on("click", function (e) {
                        e.preventDefault();
                        const contentText = $('#content-update').val();
                        $.ajax({
                        type: 'PUT',
                        url: `https://localhost:7150/Home/UpdatePostById?postId=${id}&newcontent=${contentText}`,
                        dataType: 'json',
                        contentType: "application/json;charset=utf-8",
                        success: function (newPost) {
                               
                                $("#content-update").val("")
                                $(".uk-modal").click();

                                $(`#content-${id}`).html(newPost.singlePost.content)

                            },
                            error: function (err) {
                                console.log(err)
                            },

                        })

                    })


                },
                error: function (err) {
                    console.log(err)
                },

            })
        }

        function createPost(){
            const files = defaultBtn.files;
            const formData = new FormData();

            for (var i = 0; i != files.length; i++) {
                console.log(files[i])
                formData.append("images", files[i]);
            }
            formData.append("Content", $("#content-create").val());
            formData.append("lat",myLat);
            formData.append("lng", myLng);

            $.ajax({
                type: 'POST',
                url: `https://localhost:7150/Home/CreatePost`,
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data);
                    let strImage = "";
                    let strSlider = "";

                    if (data.imagesPost[0].mediaType == 'video') {
                        strImage += `
                                <div class="w-full h-full">
                            <video src="${data.imagesPost[0].mediaLink}" muted controls allowfullscreen uk-responsive class="w-full lg:h-64 h-40"></video>
                        </div>`
                    }else{
                        let strCon = "";
                        
                        if(data.imagesPost.length > 3){
                        for(let i=0;i<3;i++){
                            if(i == 2){
                                strCon += `<a href="#story-modal-${data.id}" onclick="slideShow(${data.id})" class="relative" uk-toggle="">
                                                    <img src="${data.imagesPost[i].mediaLink}" alt="" class="rounded-md w-full h-full">
                                            <div class="absolute bg-gray-900 bg-opacity-30 flex justify-center items-center text-white rounded-md inset-0 text-2xl"> + 1 more </div>
                                        </a>`
                            }
                            if(i == 0){
                                strCon += `<a href="#story-modal-${data.id}" onclick="slideShow(${data.id})" class="col-span-2" uk-toggle="">
                                            <img src="${data.imagesPost[i].mediaLink}" alt="" class="rounded-md w-full lg:h-76 object-cover">
                                         </a>`
                            }

                            if(i == 1){
                                    strCon += `<a href="#story-modal-${data.id}" onclick="slideShow(${data.id})" class="" uk-toggle="">
                                    <img src="${data.imagesPost[i].mediaLink}" alt="" class="rounded-md w-full lg:h-76 object-cover">
                                 </a>`
                            }
                        }
                    }
                   
                        if(data.imagesPost.length == 2){
                        for(let i=0;i<2;i++){
                                strCon += `<a href="#story-modal-${data.id}" onclick="slideShow(${data.id})" class="col-span-2" uk-toggle="">
                                                    <img src="${data.imagesPost[i].mediaLink}" alt="" class="rounded-md w-full lg:h-76 object-cover">
                                                 </a>`
                           }
                    }
                        
                        if (data.imagesPost.length == 1) {
                             for (let i = 0; i < 1; i++) {
                                strCon += `<a href="#story-modal-${data.id}" uk-toggle>
                                                <img src="${data.imagesPost[i].mediaLink}" alt="">
                                            </a>`
                                
                               }
                   
                        }

                        if(data.imagesPost.length == 0){
                            strCon += `<div class="p-3 border-b dark:border-gray-700">${data.content}</div>`
                         }
                        let test = data.imagesPost.length == 1 ? "" : "grid grid-cols-2 gap-2 p-2"

                        strImage += `<div class="${test}">
                                                    ${strCon}
                                        </div>`
                    
                                        
                    }



                    if (data.imagesPost.length == 0) {
                        strSlider += `<div class="story-modal-media"></div>`
                    }
                    else if (data.imagesPost.length < 2) {
                        strSlider += `<div class="story-modal-media">`
                        
                        if (data.imagesPost[0].mediaType == "video") {
                           strSlider +=`<video src="${data.imagesPost[0].mediaLink}" muted controls allowfullscreen uk-responsive class="post-image inset-0 h-full w-full"></video>`
                        }
                        else
                        {
                            strSlider += `<img src="${data.imagesPost[0].mediaLink}" alt="" class="post-image inset-0 h-full w-full">`
                        }
                      strSlider += `</div>`
                    }else {
                        let lstMedia = "";
                        let lstMedia2 = "";
                        console.log(data)
                        data.imagesPost.forEach(e=>{
                            if (e.mediaType == "video") {
                               lstMedia +=`<video style="object-fit:contain" src = "${e.mediaLink}" muted controls allowfullscreen uk - responsive class="story-img w-full" > </video>`
                            }
                            else {
                                lstMedia += `<img style="object-fit:contain" src = "${e.mediaLink}" alt = "" class="story-img" >`
                             }
                        })

                        data.imagesPost.forEach((e,index)=>{
                            lstMedia2 += `<span onclick="btm_slide(${data.id}, ${index})"></span>`
                        })
                    
                        strSlider += `<div class="story-modal-slider">
                            <div class="content">
                                <div class="images">
                                    ${lstMedia}
                                </div>
                                <div onclick="side_slide(${data.id}, -1)" class="slide left">
                                    <span class="fas fa-angle-left"></span>
                                </div>
                                <div onclick="side_slide(${data.id}, 1)" class="slide right">
                                    <span class="fas fa-angle-right"></span>
                                </div>
                                <div class="btn-sliders">
                                                ${lstMedia2}
                                </div>
                            </div>
                        </div>`
                    }
                        $(".post-list").prepend(`<div class="bg-white shadow rounded-md dark:bg-gray-900 -mx-2 lg:mx-0" idpost="${data.id}">
            <!-- post header-->
            <div class="flex justify-between items-center px-4 py-3">
                <div class="flex flex-1 items-center space-x-4">
                    <a href="/account/profile?accountId=${data.idUser}">
                        <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                            <img src="${data.avatarAuthor}" class="bg-gray-200 border border-white rounded-full w-8 h-8">
                        </div>
                    </a>
                                    <a href="/account/profile?accountId=${data.idUser}" class="block capitalize font-semibold dark:text-gray-100"> ${data.nameAuthor} </a>
                </div>
                <div>
                    <a href="#" aria-expanded="false"> <i style="font-size: 20px;" class="fa-solid fa-ellipsis-vertical"></i> </a>
                    <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700 uk-drop" uk-drop="mode: hover;pos: top-right">

                        <ul class="space-y-1">
                            <li>
                                <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                    <i style="padding-right: 5px;" class="fa-solid fa-share-nodes"></i> Share
                                </a>
                            </li>
                            <li>
                                <a href="#update-modal" onclick="showEditModel(${data.id})" uk-toggle="" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                    <i style="padding-right: 5px;" class="fa-regular fa-pen-to-square"></i>  Edit Post
                                </a>
                            </li>
                                    <li>
                                <a href="#map-modal" onclick="sharePosition(${data.lat},${data.lng})" uk-toggle class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                    <i style="cursor:pointer;padding-right: 5px;" class="share-position-icon fa-solid fa-location-dot"></i>   Share Position
                                </a>
                            </li>
                            <li>
                                <hr class="-mx-2 my-2 dark:border-gray-800">
                            </li>
                            <li>
                                <a onclick="deletePost(${data.id})" style="cursor:pointer" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                    <i style="padding-right: 5px;" class="fa-solid fa-trash-can"></i>  Delete
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <!-- Chỗ sửa -->
                <div>

                        
                                    ${strImage}
                </div>

            <div class="py-3 px-4 space-y-3">

                <div class="flex space-x-4 lg:font-bold">
                    <a style="cursor: pointer;" onclick="handleLikePost(${data.id})" class="flex items-center space-x-2 ">
                                <div class="p-2 rounded-full text-black handleLike_${data.id} ">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="22" height="22" class="dark:text-gray-100">
                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"></path>
                            </svg>
                        </div>
                        <div class="handleLike_${data.id} "> Like </div>
                    </a>
                    <a href="#story-modal-${data.id}" class="flex items-center space-x-2" uk-toggle="">
                        <div class="p-2 rounded-full text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="22" height="22" class="dark:text-gray-100">
                                <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div> Comment</div>
                    </a>
                            <a class="flex items-center space-x-2 flex-1 justify-end" onclick="copyToClipboard('https://localhost:7150/p/${data.id}')">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="22" height="22" class="dark:text-gray-100">
                            <path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z"></path>
                        </svg>
                        <div> Share</div>
                    </a>
                </div>
                <div class="flex items-center space-x-3">
                    <div class="flex items-center">
                        <img src="/assets/images/avatars/avatar-1.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-900">
                        <img src="/assets/images/avatars/avatar-4.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-900 -ml-2">
                        <img src="/assets/images/avatars/avatar-2.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-900 -ml-2">
                    </div>
                    <div class="dark:text-gray-100">
                        Liked by <strong class="handleLikeCount_${data.id}">0 persons </strong>
                    </div>
                </div>
                <div class="border-t pt-4 space-y-4 dark:border-gray-600 comment-area-${data.id} scrollbar scroll-style-1" style="height: 50px !important">
                </div>

                <form onsubmit="handleComment(event, ${data.id})" method="post" class="comment-item flex">
                    <div class="input-item bg-gray-100 bg-gray-100 rounded-full rounded-md relative dark:bg-gray-800">
                        <input type="text" placeholder="Add your Comment.." class="bg-transparent max-h-10 shadow-none">
                        <div class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2">
                            <a href="#"> <i class="uil-image"></i></a>
                            <a href="#"> <i class="uil-video"></i></a>
                            <i class="emoji-icon fa-solid fa-face-laugh"></i>
                        </div>
                    </div>
                    <button type="submit" class="icon-item">
                        <i class="send-icon fa-solid fa-paper-plane"></i>
                    </button>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8LCvX_AO3IFEjvA5Y6oIYY2lhFKMTaNKskDUbOSR9s_8ZPolKCWSAfJcKXuSH1qV6q-4ZRNwjV28bZlXkJei0mP-63GFOiW-6ereyXa1meNK-2naYDAu1vTghiJSt02F9QuWYMQyYeA4VmGnwhRr27U"></form>


            </div>

        </div>`)
                
                         $(".post-list").prepend(`<div id="story-modal-${data.id}" class="uk-modal-container" uk-modal>
            <div class="uk-modal-dialog story-modal">
                <button class="uk-modal-close-default lg:-mt-9 lg:-mr-9 -mt-5 -mr-5 shadow-lg bg-white rounded-full p-4 transition dark:bg-gray-600 dark:text-white" type="button" uk-close></button>

                            ${strSlider}

                <div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-100">

                    <!-- post header-->
                    <div class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
                        <div class="flex flex-1 items-center space-x-4">
                            <a href="#">
                                <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                                            <img src="${data.avatarAuthor}"
                                         class="bg-gray-200 border border-white rounded-full w-8 h-8">
                                </div>
                            </a>
                                            <span class="block text-lg font-semibold"> ${data.nameAuthor} </span>
                        </div>
                        <a href="#">
                            <i class="icon-feather-more-horizontal text-2xl rounded-full p-2 transition -mr-1"></i>
                        </a>
                    </div>
                    <div class="story-content p-4" data-simplebar>

                                <p id="content-${data.id}"> ${data.content} </p>

                        <div class="py-4 ">
                            <div class="flex justify-around">
                                <a class="flex items-center space-x-3">
                                    <div onclick="handleLikePost(${data.id})" style="cursor: pointer;" class="flex font-bold items-baseline handleLike_${data.id}"> <i style="font-size: 16px; margin-right: 5px;" class="fa-solid fa-thumbs-up"></i> </i> Like</div>
                                </a>
                                <a class="flex items-center space-x-3">
                                    <div class="flex font-bold items-baseline"> <i style="font-size: 16px; margin-right: 5px;" class="fa-solid fa-comment"></i> Comment</div>
                                </a>
                                <a href="#" class="flex items-center space-x-3">
                                    <div class="flex font-bold items-baseline"> <i style="font-size: 16px; margin-right: 5px;" class="fa-solid fa-share-nodes"></i> Share</div>
                                </a>
                            </div>
                            <hr class="-mx-4 my-3">
                            <div class="flex items-center space-x-3">
                                <div class="flex items-center">
                                    <img src="/assets/images/avatars/avatar-1.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white">
                                    <img src="/assets/images/avatars/avatar-4.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white -ml-2">
                                    <img src="/assets/images/avatars/avatar-2.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white -ml-2">
                                </div>
                                <div>
                                    Liked by <strong class="handleLikeCount_${data.id}">${data.listLike} persons </strong>
                                </div>
                            </div>
                        </div>

                        <div class="-mt-1 space-y-1 comment-area-model-${data.id}">
        

                        </div>

                    </div>
                    <div class="p-3 border-t dark:border-gray-600">
                        <form onSubmit="handleComment(event, ${data.id})" class="comment-item flex">
                            <div class="input-item bg-gray-100 bg-gray-100 rounded-full rounded-md relative dark:bg-gray-800">
                                <input type="text" placeholder="Add your Comment.." class="bg-transparent max-h-10 shadow-none">
                                <div class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2">
                                    <a href="#"> <i class="uil-image"></i></a>
                                    <a href="#"> <i class="uil-video"></i></a>
                                    <i class="emoji-icon fa-solid fa-face-laugh"></i>
                                </div>
                            </div>
                            <button class="icon-item icon-modal">
                                <i class="send-icon fa-solid fa-paper-plane"></i>
                            </button>
                        </form>
                    </div>

                </div>

            </div>
        </div>`)

                    $("#content-create").val("")
                    $(".upload-image").attr("src","")
                    $(".upload-file-name").text("")
                    document.querySelector("#upload-default-btn").value = "";
                    $(".create-name-place").text("")
                    $(".uk-modal").click();
                  },
                error: function (err) {
                    console.log(err)
                },
            })
        }


    </script>

    <script>
        function sharePosition(lat,lng){
             var friendMarker = new mapboxgl.Marker({
                        color: "red",
                        draggable: true,
                        anchor: "top",
                        bounds: true,
                    });

                    friendMarker.setLngLat([lng, lat]);
                    
            if(lat != null && lng != null){

                const mapShare = new mapboxgl.Map({
                    container: "map-share",
                    style: "mapbox://styles/mapbox/streets-v12",
                    center: [105.834161, 21.0277763],
                    zoom: 18,
                });
                friendMarker.addTo(mapShare)
                const navShare = new mapboxgl.NavigationControl({
                    visualizePitch: true,
                });
                const geolocateShare = new mapboxgl.GeolocateControl({
                    positionOptions: {
                        enableHighAccuracy: true,
                    },
                    trackUserLocation: true,
                    showUserHeading: true,
                });
                mapShare.addControl(geolocateShare, "top-left");
                mapShare.addControl(navShare, "top-left");

                function onGeolocate(position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;

                    const myMaker = new mapboxgl.Marker({
                        color: "red",
                        draggable: true,
                        anchor: "top",
                        bounds: true,
                    })

                    myMaker.setLngLat([longitude, latitude]);
                    myMaker.addTo(mapShare);
                   
                    var url =
                        "https://api.mapbox.com/directions/v5/mapbox/driving/" +
                        longitude +
                        "," +
                        latitude +
                        ";" +
                        lng +
                        "," +
                        lat +
                        "?steps=true&geometries=geojson&access_token=" +
                        mapboxgl.accessToken;

                    fetch(url)
                        .then((response) => response.json())
                        .then((data) => {
                            var route = data.routes[0].geometry.coordinates;
                            var geojson = {
                                type: "Feature",
                                properties: {},
                                geometry: {
                                    type: "LineString",
                                    coordinates: route,
                                },
                            };

                            mapShare.addLayer({
                                id: "route",
                                type: "line",
                                source: {
                                    type: "geojson",
                                    data: geojson,
                                },
                                layout: {
                                    "line-join": "round",
                                    "line-cap": "round",
                                },
                                paint: {
                                    "line-color": "#f73a29",
                                    "line-width": 8,
                                },
                            });

                            $(".layer-map").on("click", function (e) {
                                geolocateShare.off("geolocate", onGeolocate);
                                mapShare.remove()
                                $('.layer-map').off('click');
                            })

                        })
                        .catch((error) => error.json);
                }
                geolocateShare.once("geolocate", onGeolocate);
                
                
            }

            
        }
    </script>
  
</body>


</html>

<style>
    .nav-link {
        color: black;
    }

    /* @@media (max-width: 470px) {
                              .border-md-top {
                                border-top: 1px solid #dee2e6;
                                border-left: none;
                              }
                            } */
</style>